<% if @user && @user.status == "4" %>
<h1>Yes.</h1>
<p>It was a pleasure to read your written application. We enjoyed getting to know you, and fortunately, we have decided that we want to work with you for the rest of the year.</p>
<BR>
<p>
There is so much to get ready for and so much to be excited about, but for now, just make sure that you're free this following Tuesday evening and next Saturday (most of the afternoon and evening). We'll be holding the first ASES Bootcamp meeting this Tuesday, where you'll be forming teams that you'll be meeting with for the rest of the quarter. On Saturday, we'll be driving you out to our annual Fall Retreat; it will be an unforgettable night spent getting to know some of the people who will be part of your ASES family for the upcoming year.
</p>
<p>
As President and Vice-President of ASES this year, we have personally hand-picked you from an extremely talented pool of young Stanford students. You are the best of the best and we can't wait to get to know you and work with you.
</p>
<BR>
<p><h2>Lastly, welcome to ASES. Welcome <b>Home</b>.</h2></p>
<BR>
<p>
<b>Regards,</b><BR>
David Jiang and Calvin Ling<BR>
ASES President and Vice-President<BR>
</p>
<% else %>
<h1>Nice Try. <BR> <small>You're not supposed to be here!</small></h1>
<% end %>