<h1>Thank you.</h1>
<p>It was a pleasure to read your written application. We enjoyed getting to know you, but unfortunately, we are unable to move you on to the next round of interviews.</p>
<p>
Please do not let this decision be a reflection of your character or who you are as a person. We have simply received an overwhelming number of applications this year and do not have the resources to create the close ASES community experience with so many people.
</p>
<p>
Please also know that we still value your relationship with ASES. You have been added to the ASES Public mailing list and will receive updates on what we’re up to every quarter. Events we’ve held in the past have included workshops, speaker keynotes, and more.
</p>
<p>
Once again, thank you so much for taking the time to interview with us; we really do appreciate it. We were unable to accept you due to circumstance, but we know that with your talents, we’ll probably be seeing a lot more of you during your time at Stanford and beyond.
</p>
<p>
<b>Regards,</b><BR>
Emily Xie and Tommy Fang<BR>
Intern Directors<BR>
</p>